* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    margin: auto;
    align-items: center;
    padding: 0px 10px 0px 10px;
    position: fixed;
    top: 0;
    background: white;
    filter: drop-shadow(0px 0px 3px #262626);
    z-index: 10;
}

main {
    /* width: 90%;
    margin: auto; */
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.logo-container,
.nav-links {
    display: flex;
}

.logo-container {
    flex: 1;
    align-items: center;
}
.logo-container img {
    align-self: center;
    width: 50px;
    height: 50px;
}
.logo-link {
    color: black;
    text-decoration: none;
}
.logo {
    font-weight: 400;
    margin: 5px;
}
nav {
    flex: 2;
}
.nav-links {
    justify-content: space-around;
    list-style: none;
}
.nav-link {
    color: #585772;
    font-size: 18px;
    text-decoration: none;
}
.sd-menu {
    display: none;
}
.sd-panel {
    position: fixed;
    top: 10vh;
    left: 0px;
    width: 100%;
    padding: 0 18px;
    background-color: #039dd5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.sd-nav-links {
    justify-content: space-around;
    list-style: none;
    margin: 10px 0px 10px 0px;
}
.sd-nav-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 0px 5px 0px;
}

.presentation,
.about-ca {
    display: flex;
    /* width: 90%; */
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction,
.about-calicomp {
    flex: 1;
}
.intro-text {
    padding: 50px 0px 0px 30px;
}
.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #03749d, #039dd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
    text-align: justify;
}
.cta {
    padding: 50px 0px 0px 30px;
}
.cta-select {
    border: 2px solid #039dd5;
    background: transparent;
    color: #039dd5;
    width: 180px;
    height: 55px;
    cursor: pointer;
    font-size: 16px;
}
.cta-select:hover {
    transition: 0.4s;
    background: #039dd5;
    color: white;
}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}
.cover img {
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}

.about-ca {
    background: linear-gradient(rgb(136, 34, 84), rgb(47, 35, 81));
    flex-direction: column;
}
.m-container {
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: row;
}
.aca-text {
    padding: 50px 30px 0px 0px;
}
.aca-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aca-text p {
    margin-top: 5px;
    font-size: 22px;
    color: white;
    text-align: justify;
}
.sub-aca-text {
    padding: 20px 30px 0px 30px;
    font-size: 22px;
    color: white;
    text-align: justify;
}

.big-circle {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.2;
    height: 80%;
}
.medium-circle {
    position: fixed;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.3;
}
.small-circle {
    position: fixed;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

@keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px) {
    .nav-links {
        display: none;
    }
    .sd-menu {
        display: grid;
        cursor: pointer;
        justify-content: flex-end;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 3px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {opacity: 0;} 
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .presentation,
    .about-ca,
    .m-container {
        flex-direction: column;
    }
    .introduction,
    .about-calicomp {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text,
    .aca-text {
        padding: 20px 5px 0px 5px;
    }
    .intro-text h1,
    .aca-text h1 {
        font-size: 30px;
    }
    .intro-text p,
    .aca-text p {
        font-size: 18px;
    }
    .sub-aca-text {
        padding: 5px 5px 0px 5px;
        font-size: 18px;
    }
    .cta {
        padding: 10px 0px 0px 0px;
    }
    .cover img {
        height: 80%;
    }

    .small-circle,
    .medium-circle,
    .big-circle {
        display: none;
    }
}

/* @media screen and (max-width: 500px) {
    * {
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
      }   
} */
